// Категории

.categories{
    height: max-content;
    padding: 10px;
    border: 1px solid black;


    &__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;    
    }

    &__title{
        display: flex;
        justify-content: start;
        font-size: 24px;
        font-weight: 600;
    }

    &__item{
        cursor: pointer;
        font-size: 20px;
    }

    &__item:focus, &__item:hover, &__item:active{
        color: #F7CD46;
    }
}