.modal{
    &__form{
        display: flex;
        flex-direction: column;
    }

    &__input{
        padding: 5px;
        border: 1px solid #000;
        border-radius: 3px;
        font-size: 18px;
    }
}

.modal-brand{
    &__input{
        min-width: 300px;
    }
}

.modal-category{
    &__input{
        min-width: 300px;
    }
}

.info{
    &__container{
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
    }

    &__btn{
        border: 1px solid #000;
        border-radius: 5px;
        background-color: red;
    }
    
}

.characteristic{
    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &__btn{
        margin-bottom: 10px;
    }

    &__btn-delete{
        background-color: red;
    }

    &__input{
        min-width: 300px;
    }
}
    