.seller{
    &__products{
        display: flex;
        align-items: start;
    }

    &__list{
        width: 90%;
    }

    &__nav-btns{
        display: flex;
        gap: 20px;
        margin-bottom: 20px;    
    }

    &__btn{
        background-color: aquamarine;
    }
}