@import './header';
@import './auth';
@import './productPage';
@import './categories';
@import './basket';
@import './payment';
@import './admin';
@import './modals';
@import './productItem';
@import './favorites';
@import './account';
@import './seller';

.main{
    margin: 10px 20px;
}

.title{
    display: flex;
    justify-content: center;
}

.list{
    display: flex;
    flex-wrap: wrap;
}

.shop{
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    padding-inline: 50px;
    gap: 50px;
}

