@import './header';
@import './auth';
@import './productPage';
@import './categories';
@import './basket';
@import './payment';
@import './admin';
@import './modals';
@import './productItem';
@import './favorites';
@import './account';
@import './seller';
@import './footer';
@import './orders';

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main{
    // display: flex;
    flex: 1 0 100%;
    padding: 25px 100px;
    // background-color: #fffcf0;
}

.title{
    display: flex;
    justify-content: center;
}

.list{
    display: flex;
    flex-wrap: wrap;
}

.shop{
    display: flex;
    max-width: 1760px;
    margin: 0 auto;
}

