@import './header';
@import './auth';
@import './productPage';
@import './categories';
@import './basket';
@import './payment';
@import './admin';
@import './modals';

.main{
    margin: 10px 20px;
}

.title{
    display: flex;
    justify-content: center;
}

.list{
    display: flex;
    flex-wrap: wrap;
}

.shop{
    display: flex;
    gap: 50px;
}

// Товары

.products-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &__title{
        font-size: 30px;
    }
}

.product{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    justify-content: space-between;
    border: black solid 1px;
    cursor: pointer;
}

.product-buy-btn{
    padding: 3px;
    border: 2px solid black;
    border-radius: 5px;
}

.product-buy-btn:focus, .product-buy-btn:hover, .product-buy-btn:active{
    background-color: #5AC3B0;
}
